@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
font-family: 'Poppins', sans-serif;

}
.test-header {
  min-height: 40px;
  padding: 8px 12px;
  box-shadow: 0px 13px 16px -6px rgb(250, 249, 250);
}

.test-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test-header nav .timer {
  font-family: 'Poppins', sans-serif;
}

.test-header nav .actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.test-header nav .actions a {
  padding: 5px 10px;
  margin: 0 10px;
  color: #14bdee;
}

.table-bordered td, .table-bordered th{
  padding: 10px;
}

.table-bordered th {
    background: grey;
    color: #fff;
}

.test-header nav .actions a:hover {
  text-decoration: none;
}

.test-header nav .actions .help {
  border-radius: 6px;
  border: 1px solid;
}

.test-header nav .actions .help:hover {
  background-color: #14bdee;
  color: #fff;
}

.test-header nav .actions .user {
  font-size: 25px;
}

.content-wrapper {
  margin: 10px;
  border: 2px solid #efeeee;
  border-radius: 6px;
  padding: 10px 0;
}

.content-wrapper .content {
  text-align: justify;
  font-size: 14px;
  line-height: 2;
}

.content-wrapper .right .content {
  text-align: left;
}

.scroll-section {
  /* height: 80vh; */
  overflow: auto;
}

.heading {
  margin: 10px 12px 0;
  background: #ffb818;
  color: white;
  padding: 6px 10px;
  /* border-radius: 6px; */
  align-items: center;
}

.heading .title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color:#fff
}

.heading .player{
  margin: 0;
}

.bold {
  font-weight: bold;
}
.right .content p {
  margin: 0 0 5px 0;
}
/* .scroll-section::-webkit-scrollbar {
    width: 12px;
}

.scroll-section::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
} */

.scroll-section::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.scroll-section::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

.scroll-section::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #14bdee;
}

.test .scroll-section{
  height:70vh;
}

.qus-section {
  margin: 0 0 30px;
  /* padding: 12px; */
  /* border: 1px solid #b2c7fc; */
  border-radius: 6px;
  /* box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2); */
  width: max-content;
  max-width: 100%;
}

.test input[type='text'] {
  border:none;
  border-bottom: solid 1px gray;
  width: 150px;
}

.test .card {
  margin-bottom: 10px;
}

span.qus-index {
    display: inline-block;
    font-size: 15px;
    width: 45px;
    height: 30px;
    background: #12abd7;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    margin: 5px 10px;
}

.test label.checkbox-inline {
    display: block;
    padding-left: 3.4em;
}

.test input[type=checkbox], .test input[type=radio] {
  width:15px;
  height:15px;
  margin-right: 10px;
}

span.qus-index:empty {
  display: none
}

.qus-section p {
  margin: 15px 0 !important;
}

.wrong-ans {
  color: #fc3d72;
  margin: 0 5px;
  font-size: 16px;
}

.right-ans {
  color: #14bdee;
  margin: 0 5px;
  font-size: 16px;
}

.score {
  margin: 19px 0;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  /* border: 2px solid #b6b1b1; */
  border-radius: 6px;
  box-shadow: 0px 3px 16px -1px rgb(193, 232, 243);
}

.wrapper {
  position: relative;
}

.wrapper .loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffffad;
  display: none;
}

.wrapper .loading img {
  height: 70px;
}

.test-sound {
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
}

.test {
  /* height: 70vh; */
  /* overflow: auto; */
  /* border: 2px solid #efeeee; */
  padding: 10px;
  border-radius: 5px;
}
button.submit {
  border: none;
  background: #14bdee;
  padding: 6px 45px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.help-icon {
  position: absolute;

  display: none;
  height: 30px;
  width: 30px;
  background: white;
  border-radius: 20px;
  text-align: center;
  border: 2px solid #ebeaea;
  color: #14bdee;
  font-size: 18px;
}
.left-help {
  top: 50%;
  right: 0;
}
.right-help {
  top: 50%;
  left: 0;
}

.test-sound .card-header {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.fa-exclamation-circle {
  font-size: 20px;
  color: red;
}

.continue {
  text-align: center;
}

.audio-inputs {
  text-align: right;
  border: 1px solid #ebe7e7;
  padding: 0px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.audio-inputs #volume {
  margin-left: 10px;
}

.instructions,
.test {
  margin: 10px 20px;
  font-size: 14px;
}

.section {
  font-weight: bold;
  font-size: 30px;
}

.qus-heading {
  font-size: 20px;
  font-weight: bold;
}

.mejs__overlay-button {
  background-image: url("/path/to/mejs-controls.svg");
}
.mejs__overlay-loading-bg-img {
  background-image: url("/path/to/mejs-controls.svg");
}
.mejs__button > button {
  background-image: url("/path/to/mejs-controls.svg");
}

.pagination ul{
      display: flex;
      overflow: auto;
      margin: 0;
      list-style: none;
      padding: 0 0 14px 0;
      cursor: pointer;
      align-items: center;
}

.pagination{
  /* border: 2px solid #ebeaea; */
  padding: 14px !important;
  max-width: 80%;
  margin: auto;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}

.pagination ul li.pag-index {
    margin-right: 9px;
    border: 1px solid #ebe7e7;
    border-radius: 5px;
    padding: 4px 10px;
    background: #12abd7;
    color: #fff;
}

.pagination ul li.pag-index:hover{
  background-color: #ebe7e7;
  color: #ffffff;
}

.pagination ul li.part-name{
  margin-right: 15px;
  margin-left: 15px;
}

.test-footer{
  margin:20px;
}

.pointers{
  text-align: right;
}

.pointers span.icon{
  font-size: 30px;
    margin: 0 9px;
    color: #c1c1c1;
    cursor: pointer;
}


.qus-section .paragraph .para-heading{
    text-align: center;
    font-weight: bold;
    margin: 16px 0 30px 0;
}

p.highlight,.pag-index.highlight{
      background: #c3eefa38;
}

.modal-content {
    height: 86vh;
    overflow: auto;
}

.modal-dialog .cross {
  color: red;
}
.modal-dialog .check {
  color: green;
}

.overflow-table {
  overflow: auto;
}

.card-body li {
  list-style: disc;
  margin-left: 15px;
  margin-bottom: 10px;
  color: #333;
}

.test input[type='text']:focus{
  outline: none;
}

.test table{
  display: block;
  width: 100%;
  overflow-x: auto;
  height: 100% !important;
}
.test table td{
  padding: 10px;
  border:1px solid #e9ecef;
  min-width: 150px;

}


@media(max-width:992px){
  .heading .title{
    margin-bottom: 20px;
  }
}


@media only screen and (max-width: 767px) {

  .player .progress {
    width: 100px;
  }

  .test img{
	width:100%;
	height: auto;
  }
	
  .heading{
    margin: 0;
    padding: 10px 0;
  }

  .heading .col-lg-8{
    padding: 0;
  }

  .pagination{
    max-width:100%;
  }

  .pointers span.icon {
    font-size: 24px;
    margin: 3px;
   }

  .heading .player{
    width:100%;
  }

  .player > div {
    float: left;
    margin-right: 4px;
  }

  .test-header {
    font-size: 14px;
  }

  .test-header nav .actions a {
    margin: 0;
  }

  .heading .title {
    font-size: 14px;
  }

  .left {
    position: relative;
  }

  .test .right {
    /* position: absolute !important; */
    background: white;
    /* top: 0;
    left: 0; */
    margin: 0 10px;
    /* display: none; */
  }

  .left-help {
    display: block;
  }

  .test-sound {
    width: 90%;
  }

  .test .scroll-section{
    height:auto;
  }
}

.writing textarea {
    width: 100%;
    min-height: 350px;
    padding: 5px 10px;
    border-radius: 6px;
    margin: 10px;
}

.writing .right {
    background: #efe9e9;
}


.custom-context-menu {
    z-index:1000;
    position: absolute;
    background-color:#C0C0C0;
    border: 1px solid black;
    padding: 2px;
}


.help-icon{
  display: none;
}

@media(min-width:768px){
  .testbody{
    height: 100vh;
    overflow: hidden;
  }
}


.test .card{
    border: 1px solid rgb(18, 171, 215);
}
.test .card .card-header{
    color: #fff;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(18, 171, 215);
    border-bottom: 1px solid rgb(18, 171, 215);
}

.heading .title {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}


/*.mejs-button.mejs-playpause-button.mejs-pause {*/
/*    width: auto !important;*/
/*}*/


.mejs-button.mejs-playpause-button.mejs-pause .mejs-container {
    width: auto !important;
}