@charset "utf-8";
/* CSS Document */

/************
1199px
************/

@media only screen and (max-width: 1199px)
{
	.home_slider_prev
	{
		left: 25px;
	}
	.home_slider_next
	{
		right: 25px;
	}
	.course_info:first-child
	{
		margin-right: 12px;
	}
	.milestone:not(:last-child)::after
	{
		display: none;
	}
	.team_image
	{
		width: 160px;
		height: 140px;
	}

	.course_col:nth-child(odd) {
		padding-right: 15px;
	}

	.course_col:nth-child(even) {
		padding-left: 15px;
	}

	.sidebar {
		padding-left: 20px;
	}

	.gallery_item {
		width: calc((100% - 24px) / 3);
		margin-bottom: 12px;
	}

	.sidebar {
		padding-left: 20px;
	}

	.review_rating {
		padding-left: 0;
	}

	.review_rating_bars {
		padding-left: 64px;
	}

	.about_col_left {
		padding-right: 15px;
	}

	.about_col_right {
		padding-left: 15px;
	}

	.about_col_middle {
		padding-left: 15px;
		padding-right: 15px;
	}

	.feature_content {
		padding-right: 0;
	}

	.feature_video {
		width: 100%;
		left: auto;
	}

	.team_image {
		width: 160px;
		height: 140px;
	}

	.partners_slider_container {
		width: calc(100% + 160px);
		left: -80px;
	}
}


/************
991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav,
	.search_button
	{
		display: none;
	}
	.top_bar_contact_list li i,
	.top_bar_contact_list li > div,
	.login_button a
	{
		font-size: 12px;
	}
	.login_button
	{
		width: 140px;
	}
	.hamburger
	{
		display: inline-block;
		margin-left: 33px;
	}
	.home_slider_form_container
	{
		width: 100%;
	}
	.home_search_button
	{
		margin-top: 15px;
	}
	.feature_col:not(:last-child)
	{
		margin-bottom: 30px;
	}
	.course_col:not(:last-child)
	{
		margin-bottom: 40px;
	}
	.counter_form
	{
	    position: relative;
	    top: 0;
	    right: auto;
	    width: 100%;
	    height: auto;
	    padding-left: 40px;
	    padding-right: 40px;
	    padding-top: 60px;
	    padding-bottom: 60px;
	}
	.counter_content
	{
		padding-top: 100px;
		padding-bottom: 68px;
	}
	.counter
	{
		padding-bottom: 100px;
	}
	.event_col:not(:last-child)
	{
		margin-bottom: 20px;
	}
	.team_col .team_item
	{
		padding-left: 0px;
		padding-right: 0px;
	}
	.team_col:first-child .team_item
	{
		padding-left: 0;
		padding-right: 0px;
	}
	.team_col:nth-child(4n) .team_item
	{
		padding-left: 0px;
		padding-right: 0;
	}
	.team_col:nth-child(odd) .team_item
	{
		padding-right: 6px;
	}
	.team_col:nth-child(even) .team_item
	{
		padding-left: 6px;
	}
	.news_col:not(:last-child)
	{
		margin-bottom: 80px;
	}

	.about_col:not(:last-child) {
		margin-bottom: 40px;
	}

	.feature_video {
		margin-top: 60px;
	}

	.counter_form {
		position: relative;
		top: 0;
		right: auto;
		width: 100%;
		height: auto;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.counter_content {
		padding-top: 100px;
		padding-bottom: 68px;
	}

	.counter {
		padding-bottom: 100px;
	}

	.blog_images_col:not(:last-child) {
		margin-bottom: 30px;
	}

	.blog_social {
		margin-top: 15px;
	}

	.sidebar {
		margin-top: 100px;
		padding-left: 0;
	}

	.course_col:not(:last-child) {
		margin-bottom: 40px;
	}

	.course_info {
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.course_info_item:not(:last-child) {
		margin-bottom: 25px;
	}

	.course_info_item:not(:last-child)::after {
		display: none;
	}

	.review_rating_bars {
		padding-left: 134px;
	}

	.blog_post {
		width: calc((100% - 30px) / 2);
	}

	.contact_form {
		padding-right: 0;
	}

	.contact_info {
		padding-left: 0;
		margin-top: 80px;
	}

	.newsletter_container
	{
		height: auto;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.newsletter_form_container
	{
		margin-top: 19px;
	}
	.footer_col:not(:last-child)
	{
		margin-bottom: 60px;
	}
	.footer_contact,
	.footer_links
	{
		padding-left: 0;
	}
	.footer_links ul
	{
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
	}
	.footer_mobile
	{
		float: none;
	}
	.footer_logo_container
	{
		margin-top: 0;
	}
	.copyright
	{
	    height: auto;
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	.cr_list
	{
		margin-top: 30px;
	}
	.cr_list li:not(:last-child)
	{
		margin-right: 20px;
	}
	.copyright div,
	.cr_list li a
	{
		font-size: 13px;
	}
	.footer_background{
	background-image: none !important;	
	}
	.footer-menu{
	display: none;
	}
	.page-template-course .banner .course_title{
		font-size: 22px;
	}
	.newsletter_container{
		flex-direction: column;
	}
	.team_body.detail {
    	grid-template-columns: 1fr 2fr;
	}
	.team_body.detail .right .team_title{
		display: none;
	}
	.mejs-container.mejs-container-keyboard-inactive.wp-audio-shortcode.mejs-audio{
		width:80% !important
	}
	.heading .title{
		margin-bottom: 10px;
	}

	.test {
		height: auto;
	}

	.login_button{
		margin-top:20px;
		margin-bottom: auto;
   		height: auto;
		background: #19beee;
		border-radius: 3px;
	}
	.login_button a{
		color:#fff;
	}

	menu.menu_mm.logo_container{
		margin-bottom: 20px;
	}
}


/************
767px
************/

@media only screen and (max-width: 767px)
{
	.top_bar
	{
		display: none;
	}
	.home_slider_nav
	{
		display: none;
	}
	.home_slider_title
	{
		font-size: 48px;
	}
	.home_search_form div
	{
		width: 100%;
	}
	.milestone:not(:last-child)
	{
		margin-bottom: 50px;
	}
	.team_col .team_item
	{
		padding-left: 0px;
		padding-right: 0px;
	}
	.team_col:first-child .team_item
	{
		padding-left: 0;
		padding-right: 0px;
	}
	.team_col:nth-child(4n) .team_item
	{
		padding-left: 0px;
		padding-right: 0;
	}
	.team_col:nth-child(odd) .team_item
	{
		padding-right: 0px;
	}
	.team_col:nth-child(even) .team_item
	{
		padding-left: 0px;
	}

	.home {
		height: 140px;
	}

	.header.scrolled {
		top: 0px;
	}

	.blog_post {
		width: 100%;
	}

	.review_rating {
		padding-top: 0;
		text-align: left;
	}

	.review_rating_bars {
		padding-left: 0;
		margin-top: 40px;
	}

	.partners_slider_container {
		width: calc(100% + 80px);
		left: -40px;
	}

		/*login styles  */

	.login-section {
		min-height: 550px;
	}

	.container.login-wrapper{
		width:90%;
		position: static;
		transform: translate(0,0);
		-webkit-transform: translate(0,0);
		margin-top:5rem;
	}

	.container.login-wrapper .side-1, .container.login-wrapper .side-2{
		width:100%;
		height:140px;
	}

	.container.login-wrapper .forms{
		top:auto;
		height: 100%;
		bottom: 0px;
	}

	.container.login-wrapper .sign-up,
	.container.login-wrapper .sign-in{
		width:100%;
		position: absolute;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		left: 0;
		top: auto;
		bottom: 20px;
	}

	.container.login-wrapper .side-2{
		left: 0;
	}

	.container.login-wrapper .head{
		width: 90%;
	}

	.container.login-wrapper .toggle-log{
		font-size: 0.8rem;
    	padding: 0.3rem 2rem;
	}

	.banner_section{
		height: 96px;
	}

	.woocommerce-page .super_container {
		padding-top: 130px;
	}

	.home {
		height: 440px;
	}
	.home_slider_title {
		font-size: 22px;
	}
	.home_slider_subtitle{
		font-size: 22px;
	}
	.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper {
		grid-template-columns: 1fr;
	}
	.page-template-course .banner .course_title{
		font-size: 18px;
		text-align: center;
	}
	.page-template-course .banner {
	margin-top: 90px;
	height: 140px;
	}

	ul.sub-menu{
		display: grid;
		border:none;
		position: static;
	}
	ul.sub-menu li a{
		font-size: 12px;
		color: #1b1b1b;
	}
	.newsletter_title{
		font-size: 18px;
		text-align: center;
		margin-bottom: 20px;
	}

	.footer{
		padding-top: 44px;
	}

	.cart-contents {
		margin: 0;
	}

	.team_body.detail {
    	grid-template-columns: 1fr;
	}

	.woocommerce div.product .product_title {
    	font-size: 1.8em;
	}
	.menu.menu_mm{
		display:grid;
		overflow:auto;
	}
	.feature_video{
		margin-top:0;
	}
	.home_search_button {
		line-height: 29px;
	}
	.course_tabs_container .tab_panels .tab_panel li,
	.course_tabs_container .tab_panels .tab_panel p{
		font-size: 13px;
	}

	.test-header nav{
		flex-wrap: wrap;
	}
	.test-header nav .actions .help{
		margin: 0 10px;
	}
	#notebookheader span{
		visibility: hidden;
	}
	
	.page-template-pd .banner .course_title{
	    font-size: 20px;
	    text-align: center;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	h2
	{
		font-size: 24px;
	}
	p
	{
		font-size: 13px;
	}
	.menu
	{
		width: 100%;
		right: -100%;
	}
	.home_search_input::-webkit-input-placeholder
	{
		font-size: 12px !important;
	}
	.home_search_input:-moz-placeholder
	{
		font-size: 12px !important;
	}
	.home_search_input::-moz-placeholder
	{
		font-size: 12px !important;
	} 
	.home_search_input:-ms-input-placeholder
	{ 
		font-size: 12px !important;
	}
	.home_search_input::input-placeholder
	{
		font-size: 12px !important;
	}
	.dropdown_item_select,
	.home_search_button
	{
		font-size: 12px;
	}
	.home_search_button
	{
		width: 100px;
		height: 40px;
	}
	.newsletter_form_container
	{
		width: 100%;
		padding-left: 0;
	}

	.dropdown_item_select,
	.home_search_button {
		font-size: 12px;
	}

	.accordion_panel p {
		font-size: 13px;
	}

	.accordion div {
		font-size: 16px;
	}

	.feature_video {
		height: 300px;
	}

	.partners_slider_container {
		width: 100%;
		left: auto;
	}

	.tab_panel_text p,
	.tab_panel_bullets li,
	.accordion_panel p {
		font-size: 13px;
	}

	.accordion div {
		font-size: 16px;
	}

	.tab {
		font-size: 12px;
	}

	.dropdown_item_title {
		font-size: 14px;
	}

	.dropdown_item_title span,
	.dropdown_item_title::before {
		font-size: 16px;
	}

	.dropdown_item_title::before {
		top: 0;
	}

	.has_children>.dropdown_item>.dropdown_item_title::after {
		font-size: 26px;
		top: -7px;
	}

	.dropdown_item_text p {
		font-size: 13px;
	}

	.review_rating_num {
		font-size: 56px;
	}

	.review_rating_stars {
		margin-top: 14px;
	}

	.review_rating_text {
		font-size: 14px;
		margin-top: 6px;
	}

	.comments_list li ul {
		padding-left: 30px;
	}

	.comment_notify span,
	.form_title {
		font-size: 14px;
	}

	.blog_content p {
		font-size: 13px;
	}

	.blog_quote div {
		font-size: 15px;
	}

	.blog_quote i {
		font-size: 24px;
	}

	.blog_quote div {
		padding-left: 15px;
	}

	.blog_subtitle {
		font-size: 20px;
	}

	.blog_title {
		font-size: 24px;
	}

	.blog_tags ul li a,
	.blog_tags span,
	.blog_social span {
		font-size: 13px;
	}

	.input_col:not(:last-child) {
		margin-bottom: 30px;
	}

	.comments_list li ul {
		padding-left: 30px;
	}

	.comment_notify span,
	.form_title {
		font-size: 14px;
	}

	.google_map {
		height: 300px;
	}

	.contact_info_title {
		font-size: 24px;
	}

	.contact_info_location_title {
		font-size: 16px;
	}

}

